<h1>Demo#hello</h1>
<p>hello world</p>
<%= 1 + 1%>
<br>
<% target = "world" %>
<%= "hello #{target}"%>

<% @array.each  do |n| %> 
	<%=  n %><br>
<% end %>

<br>

<a href='\demo\index'> index page 1</a>
<br>
<%= link_to "hello page 2",  :action => "index" %>

<br>

ID: <%= params[:id] %><br>
ID: <%= @id %><br>
page: <%= @page  %><br>

<hr>
<%= params.inspect %>