<%= link_to "Back to pages",{ :controller => 'pages', :action => 'index' , :subject_id => params[:subject_id]} , :class => 'back-link'  %>

<div class= "section index">
	<h2>Sections</h2>
	 <%= link_to "Add new section",{ :action => 'new', :page_id => @page.id }, :class  => 'action new'  %>
	 <table class="listing" summary="section list">
	 	<tr class="header">
		 	<th>&nbsp;</th>
		 	<th>page_id</th>
		 	<th>name</th>
		 	<th>position </th>
		 	<th>visible</th>
		 	<th>content_type</th>
		 	<th>content</th>
	 	</tr>
	 	<% @sections.each do |section| %>
	 	<tr>
	 		<td><%= section.page_id %></td>
	 		<td><%= section.name %></td>
	 		<td><%= section.position%></td>
	 		<td><%= status_tag(section.visible) %></td>
	 		<td><%= section.content_type %></td>
	 		<td><%= section.content %></td>
	 		<td class="action">
	 			
	 			 <%= link_to "show", {:action => 'show', :id => section.id, :page_id => @page.id }, :class => "action show" %>
	 			 <%= link_to "edit", { :action => 'edit', :id => section.id, :page_id => @page.id}, :class => "action edit" %>
	 			<%= link_to "delete", {:action => 'delete', :id => section.id, :page_id => @page.id}, :class => "action delete" %>
	 		</td>
	 	</tr>
	 	<% end %>
	 </table>
</div>