<% @page_title = "Subjects" %>
<div class= "subject index">
	<h2>Subjects</h2>
	 <%= link_to "Add new subject",{ :action => 'new'}, :class_name => 'action new'  %>
	 <div><%= pluralize(@subject.size,'subject')%>Found</div>
	 <table class="listing" summary="subject list">
	 	<tr class="header">
		 	<th>&nbsp;</th>
		 	<th>subject</th>
		 	<th>visible</th>
		 	<th>Pages </th>
		 	<th>Actions</th>
	 	</tr>
	 	<% @subject.each do |subject| %>
	 	<tr class="<% cycle('odd','even')%>">
	 		<td><%= subject.position %></td>
	 		<td><%= subject.name %></td>
	 		<td><%= status_tag(subject.visible) %></td>
	 		<td><%= subject.pages.size %></td>
	 		<td class="action">
	 			 <%= link_to "show", {:action => 'show', :id => subject.id }, :class_name => "action_show" %>
	 			 <%= link_to "edit", { :action => 'edit', :id => subject.id}, :class_name => "action_edit" %>
	 			<%= link_to "delete", {:action => 'delete', :id => subject.id}, :class_name => "action_delete" %>
	 		</td>
	 	</tr>
	 	<% end %>
	 </table>
</div>