
<%= link_to "<< back to list", :action => "index", :class => "back_link" %>
<div class="subject show">
	<h2>Show subject</h2>
	<table summary="subject detail view">
	<tr>
		<th>Name</th>
		<td><%= @subject.name %></td>
	</tr>
	<tr>
		<th>position</th>
		<td><%= @subject.position %>	</td>
	</tr>
	<tr>
		<th>visible	</th>
		<td><%= status_tag(@subject.visible) %>	</td>
	</tr>
	<tr>
		<th>Created	</th>
		<td><%= @subject.created_at %></td>
	</tr>
	<tr>
		<th>update	</th>
		<td><%= @subject.updated_at%>	</td>
	</tr>
	 </table>
</div>