<%= error_messages_for @adminuser%>
<table summary="Adminuser field">
	<tr>
		<th> <%= f.label(:first_name, "First Name") %> </th>
		<td><%= f.text_field(:first_name) %></td>
	</tr>
	<tr>
		<th><%= f.label(:last_name , "Last Name" )%> </th>
		<td><%= f.text_field(:last_name) %></td>
	</tr>
	<tr>
		<th><%= f.label(:Email , "Email" )%></th>
		<td><%= f.text_field(:Email) %></td>
	</tr>
	<tr>
		<th><%= f.label(:username , "Username" )%></th>
		<td><%= f.text_field(:username) %></td>
	</tr>		
		
 </table>