 

 <%= link_to "<< back to list" , {:action => 'index'}, :class => 'back_link' %>
 <div class="admin new">
 	<h2>Create Admin</h2>
 	<%= form_for(:adminuser, :url => { :action => 'create' } ) do |f| %>
 		<%= error_messages_for @adminuser%>
	<table summary="Adminuser field">
		<tr>
			<th> <%= f.label(:first_name, "First Name") %> </th>
			<td><%= f.text_field(:first_name) %></td>
		</tr>
		<tr>
			<th><%= f.label(:last_name , "Last Name" )%> </th>
			<td><%= f.text_field(:last_name) %></td>
		</tr>
		<tr>
			<th><%= f.label(:Email , "Email" )%></th>
			<td><%= f.text_field(:Email) %></td>
		</tr>
		<tr>
			<th><%= f.label(:username , "Username" )%></th>
			<td><%= f.text_field(:username) %></td>
		</tr>
		<tr>
			<th><%= f.label(:password , "Password" )%></th>
			<td><%= f.password_field(:password) %></td>
		</tr>

	
	</table>
 		<div class="form buttons">
 			<%= submit_tag("Create adminuser")%>
 		</div>
 	<% end %>
 </div>